body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  padding-left: 30px;
}

.xStatus,
.yStatus {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  margin-bottom: 200px;
  font-weight: bold;
  font-size: 96px;
  line-height: 0;
}

.xStatus {
  background-color: red;
}

.yStatus {
  background-color: blue;
}

.board-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  background: white;
  border: 10px solid black;
  height: 100px;
  width: 100px;
  margin: 0 -10px -10px 0;
  font-size: 100px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}
.square-x,
.square-o {
  background: white;
  border: 10px solid black;
  height: 100px;
  width: 100px;
  margin: 0 -10px -10px 0;
  font-size: 100px;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
}

.square-x {
  color: red;
}
.square-o {
  color: blue;
}

.winning-square {
  color: green;
}
